.characterPageWrapper {
  min-height: 100%;
  background-color: #2b2b2b;
  background-attachment: fixed;
  padding-bottom: 40px;
}

.sectionHeader {
  background-image: url('/public/back2.jpg');
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.formContainer {
  padding-top: 20px;
  margin-left: 250px;
}

@media (max-width: 900px) {
  .formContainer {
    margin-left: 0;
    padding-top: 70px;
  }
}

.infoWrapper {
  border: 1px solid;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin-bottom: 24px;
}

.infoTitle {
  color: white;
}
