.charactersWrapper {
  min-height: 100%;
  background-image: url('/public/back1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.cardsContainer {
  position: relative;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.header {
  color: #ffffff;
  text-align: center;
}

.noCharactersText {
  color: #ffffff;
}

.listControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 75px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .cardsContainer {
    justify-content: center;
  }

  .listControls {
    justify-content: center;
  }
}
